body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f7f7f7;
    margin-top: 80px;
}

h1 {
    color: #333;
    font-size: 40px;
}

button {
    padding: 12px 25px;
    background: #3178c6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #225a9a;
}
